# Dependencies
node_modules/

# Build output
dist/
dist-*/
build/
.cache/
.temp/
.vite/

# Logs
logs/
*.log
*.log.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env files
.env
.env.*
!.env.example

# Coverage
coverage/

# Editor/OS files
.DS_Store
.vscode/
.idea/
Thumbs.db
ehthumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Misc
*.local

